---
layout: page
title: L'Associazione
js:
  info.js
---

<h1 class="mb-3">{{ page.title }}</h1>

<div itemscope itemtype="http://schema.org/Organization">
    <img itemprop="logo" src="/assets/images/big_ils.png" alt="Italian Linux Society" class="float-right" />

    <p><strong><span itemprop="name">Italian Linux Society</span></strong>, a tutti nota più semplicemente come <strong>ILS</strong>, nasce nel <span itemprop="foundingDate">1994</span> ed in breve tempo si estende a tutto il territorio nazionale fino a diventare la più grande associazione italiana per la promozione e la divulgazione di Linux e del Software Libero.</p>
    <p itemprop="description">ILS favorisce la diffusione del sistema operativo libero Linux, la libera circolazione delle idee e della conoscenza in campo informatico e promuove lo studio ed il libero utilizzo delle idee e degli algoritmi destinati al funzionamento dei sistemi informatici.</p>
    <p>Per saperne di più su Linux e sul Software Libero visita il nostro sito dedicato, <a href="https://www.linux.it/">Linux.it</a></p>

    <hr>

    <h2 id="aderenti">Aderenti</h2>
    <p>Italian Linux Society è presente in tutta Italia, tramite le Sezioni Locali e le altre associazioni aderenti. Per far aderire alla rete la propria associazione si può fare riferimento all'<a href="/associazioni">apposita pagina</a>, oppure consultare <a href="/sezionilocali">quest'altra pagina</a> per saperne di più sulle Sezioni Locali.</p>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

    <div class="row">
        <div class="col-md-7"><div id="mapid"></div></div>
        <div class="col-md-5">
            <div class="row" id="sections">
                <div class="col-12">
                    <strong>Sezioni Locali</strong>
                    <hr>
                </div>

                {% for localsection in site.localsections %}
                    <div class="col-4 mb-3">
                        <a href="/sezionilocali/{{ localsection.city }}" class="btn btn-light btn-block">{{ localsection.label }}</a>
                    </div>
                {% endfor %}
            </div>
            <hr>
            <div class="row" id="associations">
                <div class="col-12">
                    <strong>Associazioni Aderenti</strong>
                    <hr>
                </div>

                {% for association in site.associations %}
                    <div class="col-3">
                        <a target="_blank" rel="nofollow" href="{{ association.url }}"><img alt="{{ association.label }}" src="{{ association.image }}" border="0" class="img-fluid" loading="lazy"></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>

    var associationIcon = L.icon({
    	iconUrl: '/assets/images/associazione.png',
    	iconSize:     [20, 20],
//    	shadowSize:   [0, 0],
//    	iconAnchor:   [10, 10],
//    	shadowAnchor: [0, 0],
    	popupAnchor:  [0, -10]
    });

    var sectionIcon = L.icon({
    	iconUrl: '/assets/images/sezione.png',
    	iconSize:     [20, 20],
//    	shadowSize:   [0, 0],
//    	iconAnchor:   [10, 10],
//    	shadowAnchor: [0, 0],
    	popupAnchor:  [0, -10]
    });

    var associations = [
        {% for association in site.associations %}
        	{
        		label: '{{ association.label }}',
        		coords: [{{ association.coords }}],
        		url: '{{ association.url }}',
        		image: '{{ association.image }}',
        	},
        {% endfor %}
    ];

    var sections = [
        {% for localsection in site.localsections %}
            {
                label: '{{ localsection.label }}',
                coords: [{{ localsection.coords }}],
                city: '{{ localsection.city }}',
            },
        {% endfor %}
    ];

    var mymap = L.map('mapid').setView([42.155, 12.810], 6);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    	maxZoom: 13,
    	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);

    </script>

    <hr>

    <h2 id="partner">Partner</h2>
    <p>Italian Linux Society ha relazioni e rapporti con diverse realtà nazionali e internazionali impegnate sul tema delle libertà digitali e della consapevolezza tecnologica.</p>
    <div class="row justify-content-md-center">
        {% for partner in site.partners %}
            <div class="col-4 text-center">
                <a target="_blank" href="{{ partner.reference }}"><img class="img-fluid" alt="{{ partner.label }}" src="{{ partner.image }}" border="0" loading="lazy" /></a>
            </div>
        {% endfor %}
    </div>

    <hr>

    <h2 id="sponsor">Sponsor</h2>
    <p>Italian Linux Society è sostenuta da aziende che lavorano con software libero e open source. Per saperne di più sulle sponsorizzazioni ed il coinvolgimento delle realtà professionali consulta l'<a href="/sponsorizzazioni">apposita pagina</a>.</p>
    <div class="row justify-content-md-center">
        {% for sponsor in site.sponsors %}
            <div class="col-3 text-center">
                <a target="_blank" rel="nofollow" href="{{ sponsor.url }}"><img class="img-fluid" alt="{{ sponsor.label }}" src="{{ sponsor.image }}" border="0" loading="lazy" /></a>
            </div>
        {% endfor %}
    </div>

    <hr>

    <h2 id="donazioni">Donazioni</h2>
    <p>Aiutaci ad aiutare la community! Per le tue donazioni, di qualunque entità, o per il rinnovo della tua quota di iscrizione, fai riferimento al seguente conto corrente</p>
    <div class="card text-white bg-secondary">
        <div class="card-body">
            Banca: Unicredit Banca<br>
            IBAN: IT 74 G 02008 12609 000100129899<br>
            Intestato a: ILS ITALIAN LINUX SOCIETY
        </div>
    </div>
    <br>
    <p>oppure al conto PayPal</p>
    <div class="card text-white bg-secondary">
        <div class="card-body">
            Intestatario: direttore@linux.it
        </div>
    </div>

    <hr>

    <h2>Consiglio Direttivo</h2>
    <p>Il Consiglio Direttivo di Italian Linux Society è attualmente composto da:</p>
    <ul>
        <li><a href="mailto:gnu@linux.it">Valerio Bozzolan (Direttore)</a></li>
        <li itemprop="contactPoint" itemscope itemtype="http://schema.org/ContactPoint"><a itemprop="email" href="mailto:bob@linux.it"><span itemprop="name">Roberto Guido</span> (Presidente)</a></li>
        <li><a href="mailto:rubini@linux.it">Alessandro Rubini</a></li>
        <li><a href="mailto:matteo.ruffoni@linux.it">Matteo Ruffoni</a></li>
        <li><a href="mailto:mte90@linux.it">Daniele Scasciafratte</a></li>
    </ul>

    <h2>Documenti</h2>
    <ul>
        <li><a href="/statuto">Statuto</a></li>
    </ul>
</div>
