---
layout: page
title: Sostieni ILS
---

<h1 class="mb-3">{{ page.title }}</h1>

<div class="card text-white bg-secondary">
    <div class="card-header">
        Perché darci una mano?
    </div>
    <div class="card-body">
        <ul>
            <li>infrastruttura tecnologica (mailing list, spazio web, promozione e comunicazione) gratuita per i Linux Users Groups italiani</li>
            <li>costante attività di promozione, online (sui diversi siti del network ILS, in primis www.linux.it) e offline (distribuzione gratuita di adesivi e materiale divulgativo ai volontari sul territorio)</li>
            <li>dal 2015, oltre 30.000 euro destinati allo sviluppo di software libero</li>
            <li>organizzazione e coordinamento del Linux Day, la principale manifestazione nazionale dedicata alle libertà digitali</li>
        </ul>
    </div>
</div>

<h2 class="mt-5">Per gli Individui</h2>

<p>
    Il modo più semplice ed immediato per sostenere Italian Linux Society è associarsi, godendo inoltre dei benefit riservati ai soci. Le quote di iscrizione rappresentano la maggior parte delle nostre entrate, e
    dei fondi che destiniamo alle nostre attività.
</p>

<a class="cta-button" href="https://ilsmanager.linux.it/ng/register">Iscriviti</a>

<p>In alternativa, è possibile fare una donazione tramite bonifico bancario</p>
<div class="card text-white bg-secondary">
    <div class="card-body">
        Banca: Unicredit Banca<br>
        IBAN: IT 74 G 02008 12609 000100129899<br>
        Intestato a: ILS ITALIAN LINUX SOCIETY
    </div>
</div>
<br>
<p>oppure al conto PayPal</p>
<div class="card text-white bg-secondary">
    <div class="card-body">
        Intestatario: direttore@linux.it
    </div>
</div>

<p class="mt-3">È possibile inoltre supportare e prendere parte attiva alle iniziative ILS in tanti modi:</p>
<ul>
    <li>se tieni talk e presentazioni (dal vivo o online) aggiungi <a href="/sostieni/slides">una slide per divulgare una delle nostre campagne</a></li>
    <li>segui <a rel="nofollow" href="https://lists.linux.it/listinfo/linuxday-idee">la mailing list del Linux Day</a> per essere aggiornato sulle cose da fare (e candidarti per farle!) per organizzare ed allestire la principale manifestazione italiana dedicata al software libero</li>
    <li><a rel="nofollow" href="https://gitlab.com/ItalianLinuxSociety/brainstorm" class="external-link">proponi tu una attività, o dedica un po' di tempo e competenze per implementarne una già proposta</a></li>
</ul>

<h2 class="mt-5">Per le Aziende</h2>

<p>Per le aziende che lavorano con software libero e open source, e condividono i principi ed i valori dell'associazione, è possibile sottoscrivere un contratto di sponsorizzazione della durata di un anno e godere di una serie di offerte riservate ai nostri sostenitori.</p>
<p>Oltre all'aspetto economico della sponsorizzazione, l'adesione di imprese e professionisti ci aiuta a consolidare la nostra rappresentatività nei confronti delle istituzioni e a promuovere il messaggio di un ecosistema alternativo ai monopoli tecnologici, sostenibile, che porta benessere e crescita all'Italia e all'Europa pur nel rispetto delle libertà individuali.</p>

<a class="cta-button" href="/sponsorizzazioni">Diventa sponsor</a>

<p>I negozi di informatica che vendono PC con Linux preinstallato e/o offrono assistenza su Linux possono anche contattarci per essere aggiunti nell'indice su <a href="https://linuxsi.com/" class="external-link">LinuxSi.com</a> e per ricevere, gratuitamente, l'adesivo da apporre sulla propria vetrina.</p>


<h2 class="mt-5">Per le Associazioni</h2>

<p>Anche le associazioni possono aderire a Italian Linux Society, con modalità analoghe a quelle dei soci individuali, e vengono enumerate nell'<a href="/info#aderenti">elenco dei nostri sostenitori</a>. Per dare forza, insieme, al nostro messaggio.</p>
<p>Dal 2020 è anche possibile far confluire il proprio gruppo (sia esso una associazione o un gruppo informale) direttamente in ILS, secondo la modalità delle <a href="/sezionilocali">Sezioni Locali</a>. Per avere tutti i vantaggi di una associazione, pur senza dover gestire una associazione.</p>

<a class="cta-button" href="/associazioni">Aderisci</a> <a class="cta-button" href="/sezionilocali">Crea una Sezione Locale</a>
